h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: blueviolet;
    background-color: aquamarine;
    text-align: center;
}

.recipe {
    display: flex;
    justify-content: center;
}
div.opt {
    display: inline-block;
    background: aqua;
    padding: 2px;
    margin: 4px;
}

.img {
    height: 100px;
    width: 150px;
}

h2,
p {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
} 

a:hover {
    color: blue;
    text-decoration: underline;
}

